.popup__input_type_prof {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    max-width: 358px;
    margin-bottom: 48px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 13px;
}

@media screen and (max-width: 1279px) {
    .popup__input_type_prof {
        max-width: 238px;
    }
}