.popup__input {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    display: block;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    height: 35px;
    padding: 0;
}