.popup__input {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    max-width: 358px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.popup__input:first-child {
    margin-bottom: 18px;
    padding-top: 6px;
    padding-bottom: 10px;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1279px) {
    .popup__input:first-child {
        max-width: 238px;
    }

    .popup__input:last-child {
        max-width: 238px;
    }
}