.header__logo {
    color: #ffffff;
    top: 0;
    left: 0;
    margin: 0;
    position: relative;
    align-items: flex-start;
}

@media screen and (max-width: 1050px) {

    .header__logo {
display: flex;
position: relative;
margin-left: 28px;
margin-top: 27px;
margin-bottom: 31.6px;
    }

}