.cards__info-heading{
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 24px;
    font-weight: 900;
    line-height: 120%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 185px;
}