.header__logo_sup {
    color: #ffffff;
    vertical-align: super;
    font-style: normal;
    width: 142px;
    height: 33px;
    background-image: url('../../../../image/Header_logo.svg');
    box-sizing: border-box;
    background-size: cover;
    object-fit: cover;
}

@media screen and (max-width: 1100px) {
    .header__logo_sup {
        background-image: url('../../../../image/Header_logo2.svg');  
        width: 103.74px;
        height: 24.4px; 
    }
}