.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: calc(100% - 200px * 2);
    top: 45px;
    min-height: 74px;
    margin: 45px auto 0 auto;
    border-bottom: rgba(84, 84, 84, 0.7) solid;
}

@media screen and (max-width: 1050px) {

    .header {
        max-width: 100%;
        margin: 0;
    }

}