.profile__add-button {
    background-image: url(../../../image/plus_add-buttom.svg);
    background-repeat: no-repeat;
    background-color: #000;
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: none;
}