.profile__add-button {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border: 1px solid;
    transition: opacity 0.4s;
    z-index: 0;
    border-radius: 2px;
    margin-right: 0;
    height: 50px;
    width: 150px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1100px) {
    .profile__add-button {
        width: 282px;

    }
}