.elements {
    max-width: calc(100% - 200px * 2);
    margin: 50px auto 0 auto;
}

@media screen and (max-width: 1100px) {

    .elements {
        max-width: calc(100% - 50px * 2);
    }

}

@media screen and (max-width: 725px) {

    .elements {
        max-width: calc(100% - 19px * 2);
        margin: -4px auto 0 auto;
    }

}