.popup__container {
    width: 430px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 0px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1279px) {
    .popup__container {
        height: 346px;
        width: 282px;
    }
}