.profile__block-edit {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    transition: opacity 0.4s;
    border: 1px solid;
    grid-area: button;
    height: 24px;
    width: 24px;
}

.profile__block-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1100px) {
    .profile__block-edit {
        height: 18px;
        width: 18px;
    }
}