@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__edit-profile/profile__edit-profile.css);
@import url(../blocks/profile/__edit-name/profile__edit-name.css);
@import url(../blocks/profile/__edit-prof/profile__edit-prof.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__info/cards__info.css);
@import url(../blocks/cards/__container/cards__container.css);
@import url(../blocks/cards/__img/cards__img.css);
@import url(../blocks/cards/__info-heading/cards__info-heading.css);
@import url(../blocks/cards/__info-like/cards__info-like.css);
@import url(../blocks/cards/__info-like/_active/cards__info-like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__input/popup__input.css);