.profile__edit-profile {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    height: 10px;
    width: 10px;
    background-image: url(../../../image/Edit_Button.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
    .profile__edit-profile {
        width: 7.5px;
        height: 7.5px;
    }
}