.profile__edit-profile {
    display: flex;
    align-items: center;
    grid-area: button;
    background-color: #000;
    color: #fff;
    max-height: 24px;
    max-width: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.4s;
}

.profile__edit-profile:hover {
opacity: 0.6;
}