.elements__list {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
    column-gap: 17px;
    row-gap: 20px;
}